body{
    margin: 0;  
    font-family: 'Poppins', sans-serif;
    background-color: #F6F7FB;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}

.TopbarLeftMenu{
    display: flex;
    align-items: center;
}

.TopbarRightMenu{
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
    cursor: pointer;
}

.TopbarLogo{
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.TopbarLogo > img{
    width: 24px;
    height: 28px;
    margin-right: 8px;
}

.TopbarBrand{
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0,0,0,.8);
}

.topbar-active{
    color: #20b883 !important;
    border-bottom: 3px solid #20b883;
}

.MenuItems{
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
}

.Active{
    color: #20b883;
    border-bottom: 3px solid #20b883;    
}