body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 48px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 2px 4px #ccc;
    background-color: #fff;
    justify-content: space-between;
}

.topbar-left{
    display: flex;
    align-items: center;
}

.topbar-right{
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
    cursor: pointer;
}

.topbar-logo{
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.topbar-logo > img{
    width: 24px;
    height: 28px;
    margin-right: 8px;
}

.topbar-brand{
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 500;
    margin: 0;
    color: rgba(0,0,0,.8);
}

.active{
    color: #20b883 !important;
    border-bottom: 3px solid #20b883;
}

.menu-items{
    display: inline-block;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    padding: 24px 0 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    margin: 0 10px;
}

.main-container{
    margin-top: 120px;
}

.user-list-pageWrapper{
    width: 100%;
    box-sizing: border-box;
    padding: 0 8% 4%;
}

.user-list-mainHeading{
    text-align: left;
}

.user-list-order-wrapper{
    width: 100%;
    padding: 24px 0;
}

.user-list-filterWrapper{
    width: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.user-list-search-box{
    width: calc(100% - 100px);
    padding: 12px 24px;
    font-size: 15px;
    border: 0;
    border-bottom: 2px solid #8c8c8c;
    margin: 0 36px 0 0;
    outline: none;
}

.user-list-button{
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.user-list{
    width: 100%;
    border-collapse: collapse;
}

.user-list th{
    vertical-align: center
    ;
}


/* .user-list tr {
    text-align: center;
} */

tr>td{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
    text-align: center;
    padding: 12px 24px;
    font-size: 14px;
}
/* 
.table > tr{
    position: relative;
    right: 150px;
} */
/* .HomepageOrderTable td{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}

.HomepageOrderTable th{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}

table > tr {
    vertical-align: middle;
} */